<link href="{{ asset('/css/style.css') }}" rel="stylesheet"/>
<!--
Bootstrap
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
 integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

 http://localhost:8000/prueba/empresa/all

 -->

<table>
    <tr>
        <td>#</td>
        <td>Nombre</td>
        <td>Apellido 1</td>
        <td>Apellido 2</td>
        <td>Ciclo</td>
        <td>Empresa</td>

    </tr>
    {% for alumno in alumno %}
        <tr>
            <td>{{ alumno.id }}</td>
            <td>{{ alumno.nombre }}</td>
            <td>{{ alumno.apellido1 }}</td>
            <td>{{ alumno.apellido2 }}</td>
            <td>{{ alumno.ciclo }}</td>
            <td>{{ alumno.empresa.nombre }}</td>



        </tr>
    {% endfor %}
</table>
